@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navy: #0c335a;
    --navy-dark: #0c2f52;
    --navy-light: #1e64aa;
    --red: #c3203b;
    --red-dark: #9e1a30;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family:    Arial, Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: var(--gray-800);
    background-color: var(--white);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}